/* ==UserStyle==
@name           DarkL
@namespace      https://github.com/ZykeDev
@version        0.1.4
@description    A Dark theme for DeepL
@author         Noya
@updateURL      https://github.com/ZykeDev/DarkL/raw/main/darkl.user.css
@homepageURL  	https://github.com/ZykeDev/DarkL
@supportURL  	https://github.com/ZykeDev/DarkL/issues

==/UserStyle== */

@-moz-document domain("deepl.com") {
    
   :root {
    color-scheme: dark;
    --color-white: #111213;
    --color-white-transparent: rgba(17, 18, 19, .6);
    --color-black: #fff;
    --color-transparent: rgba(17, 18, 19, 0);
    --color-background-light: var(--color-gray-800);
    --color-background-default: var(--color-gray-700);
    --color-background-dark: var(--color-gray-600);
    --color-border-light: var(--color-gray-800);
    --color-border-default: var(--color-gray-700);
    --color-border-dark: var(--color-gray-600);
    --color-text-very-light: var(--color-gray-400);
    --color-text-light: var(--color-gray-300);
    --color-text-default: var(--color-gray-200);
    --color-text-dark: var(--color-gray-100);
    --color-overlay: var(--color-gray-700);
    --color-overlay-default: var(--color-gray-700);
    --color-overlay-dark: var(--color-gray-800);
    --color-overlay-transparent: rgba(0, 0, 0, .6);
    --lt-shadow-default: 0 0 0 1px var(--color-gray-700);
    --lt-shadow-active: 0 0 0 1px var(--color-gray-600);
    --lt-shadow-modal: 0 0 0 1px var(--color-gray-600);
  }
    
  .dl_body--redesign {
    background: var(--color-white);
    color: var(--color-text-default);
  }
}
